/*@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Montserrat:400,700|Seymour+One&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Delius&family=Raleway:ital,wght@1,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 95%;
    margin: 0 auto;
}
h1, p {
    font-size: 1em;
}
h1 {
    margin: 1em 0 -.2em;
    font-family: 'Raleway', sans-serif;
    font-size: 2.25rem;
}
section {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 1em;
    margin-top: 2em;
}
.card {
    background-color: #eeeeee;
    padding: 1.7em;
}
blockquote {
    margin: 0;
}
span {
    width: 70px;
    height: 70px;
    display: block;
    background: gray;
    border-radius: 50%;
    margin: 0 auto;
}
cite {
    font-style: normal;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
}

p{
    font-family: 'Delius', sans-serif;
    font-size: 1rem;
}